#validator
{
    background-color: #D7ECFA; 
    padding: 2rem;
}

#profile
{
    background-color: #d2a679;
    padding: 1rem;
}

.section
{
    background-color: #D7ECFA; 
    padding: 2rem;
}

.section-title
{
    font-weight: bold;
    text-align: center;
    text-decoration: underline;
}
